{
    "openapi": "3.0.1",
    "info": {
        "title": "Metadata API",
        "description": "The Metadata API provides crucial configuration details necessary for managing listings across various eBay marketplaces. This includes retrieving detailed eBay category listing policies, such as supported item conditions and multiple-variation structures; accessing sales tax jurisdiction information for setting up tax tables in supported countries; and obtaining hazardous material and product safety label data for regulatory compliance in listing flows. The API is essential for sellers and developers needing up-to-date, marketplace-specific policy and jurisdictional information to accurately create and manage their listings.",
        "contact": {
            "name": "eBay Inc,"
        },
        "license": {
            "name": "eBay API License Agreement",
            "url": "https://developer.ebay.com/join/api-license-agreement"
        },
        "version": "v1.13.0"
    },
    "servers": [
        {
            "url": "https://api.ebay.com/sell/metadata/v1",
            "description": "Production",
            "variables": {
                "basePath": {
                    "default": "/sell/metadata/v1"
                }
            }
        }
    ],
    "security": [
        {}
    ],
    "tags": [
        {
            "name": "marketplace",
            "description": "Operations that retrieve listing policy information for eBay marketplaces."
        }
    ],
    "paths": {
        "/marketplace/{marketplaceId}/get_automotive_parts_compatibility_policies": {
            "get": {
                "tags": [
                    "marketplace"
                ],
                "summary": "Get automotive parts compatibility policies",
                "description": "This method returns the eBay policies that define how to list automotive parts compatibility items in the categories of the specified marketplace.\n\nBy default, this method returns all categories that support parts compatibility. You can limit the size of the result set by using the filter query parameter to specify only the category IDs you want to review.\n\nNote: To return policy information for the eBay US marketplace, specify EBAY_MOTORS_US as the path parameter for marketplace_id.\nTip: This method can potentially return a very large response payload. eBay recommends that the response payload be compressed by passing in the Accept-Encoding request header and setting the value to gzip.\nIf you specify a valid marketplace ID but that marketplace does not contain policy information, or if you filter out all results, a 204 No content status code is returned with an empty response body.",
                "operationId": "getAutomotivePartsCompatibilityPolicies",
                "parameters": [
                    {
                        "name": "marketplaceId",
                        "in": "path",
                        "description": "This path parameter specifies the eBay marketplace for which policy information is retrieved.\n\nNote: Only the following eBay marketplaces support automotive parts compatibility:\n- EBAY_MOTORS_US\n- EBAY_AU\n- EBAY_CA\n- EBAY_DE\n- EBAY_ES\n- EBAY_FR\n- EBAY_GB\n- EBAY_IT",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "filter",
                        "in": "query",
                        "description": "This query parameter limits the response by returning policy information for only the selected sections of the category tree. Supply categoryId values for the sections of the tree you want returned. Use the Taxonomy API to retrieve category ID values.\n\nThe parameter takes a list of categoryId values and you can specify up to 50 separate category IDs. Separate multiple values with a pipe character ('|'). If you specify more than 50 categoryId values, eBay returns the policies for the first 50 IDs and a warning that not all categories were returned.\n\nExample: filter=categoryIds:{183521|183523|183524}\n\nNote: URL-encoding of the parameter list is no longer required.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Accept-Encoding",
                        "in": "header",
                        "description": "This header indicates the compression-encoding algorithms the client accepts for the response. This value should be set to gzip.\n\nFor more information, refer to Request Headers",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ballerina-name": "acceptEncoding"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The retrieved automotive parts compatibility policies",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AutomotivePartsCompatibilityPolicyResponse"
                                }
                            }
                        },
                        "x-response-codes": {
                            "errors": {
                                "46002": {
                                    "domain": "API_METADATA",
                                    "category": "REQUEST",
                                    "description": "The filter value is invalid. Sample supported values: filter=categoryIds:{catId1|catId2|catId3}."
                                },
                                "46003": {
                                    "domain": "API_METADATA",
                                    "category": "REQUEST",
                                    "description": "The specified categoryId was not found for the marketplace."
                                },
                                "46004": {
                                    "domain": "API_METADATA",
                                    "category": "REQUEST",
                                    "description": "Only 50 Category IDs specified in the filter are considered."
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "No content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Error"
                                    }
                                }
                            }
                        },
                        "x-response-codes": {
                            "errors": {
                                "46001": {
                                    "domain": "API_METADATA",
                                    "category": "REQUEST",
                                    "description": "The specified marketplace ID was not found."
                                },
                                "46002": {
                                    "domain": "API_METADATA",
                                    "category": "REQUEST",
                                    "description": "The filter value is invalid. Sample supported values: filter=categoryIds:{catId1|catId2|catId3}."
                                },
                                "46003": {
                                    "domain": "API_METADATA",
                                    "category": "REQUEST",
                                    "description": "The specified categoryId was not found for the marketplace."
                                },
                                "46004": {
                                    "domain": "API_METADATA",
                                    "category": "REQUEST",
                                    "description": "Only {maxCategoryIdsAllowed} Category IDs are allowed in the 'filter' parameter."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Error"
                                    }
                                }
                            }
                        },
                        "x-response-codes": {
                            "errors": {
                                "46001": {
                                    "domain": "API_METADATA",
                                    "category": "REQUEST",
                                    "description": "The specified marketplace ID was not found."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Error"
                                    }
                                }
                            }
                        },
                        "x-response-codes": {
                            "errors": {
                                "46000": {
                                    "domain": "API_METADATA",
                                    "category": "APPLICATION",
                                    "description": "There was a problem with an eBay internal system or process.Contact eBay developer support for assistance."
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_auth": [
                            "https://api.ebay.com/oauth/api_scope"
                        ],
                        "ClientCredentials": [
                            "https://api.ebay.com/oauth/api_scope"
                        ]
                    }
                ]
            }
        },
        "/marketplace/{marketplaceId}/get_category_policies": {
            "get": {
                "tags": [
                    "marketplace"
                ],
                "summary": "Get category policies",
                "description": "This method returns eBay category policy metadata for all leaf categories on the specified marketplace.\nBy default, this method returns metadata on all leaf categories. You can limit the size of the result set by using the filter query parameter to specify only the leaf category IDs you want to review.\n\nIf you specify a valid marketplace ID but that marketplace does not contain policy information, or if you filter out all results, a successful call returns a 204 No content status code with an empty response body.",
                "operationId": "getCategoryPolicies",
                "parameters": [
                    {
                        "name": "marketplaceId",
                        "in": "path",
                        "description": "This path parameter specifies the eBay marketplace for which policy information is retrieved.\n\nSee Request Headers for a list of supported eBay marketplace ID values",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "filter",
                        "in": "query",
                        "description": "This query parameter limits the response by only returning metadata for the specified leaf categories. Supply the categoryId for one or more leaf categories. You can verify if a category is a leaf category by using the Taxonomy API and looking for a \"leafCategory\": true tag.\n\nThe parameter takes a list of categoryId values and you can specify up to 50 separate category IDs. Separate multiple values with a pipe character ('|'). If you specify more than 50 categoryId values, eBay returns the policies for the first 50 IDs and a warning that not all categories were returned.\n\nExample: filter=categoryIds:{3767|171784}",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "This header is required to retrieve metadata for the French Canada, French Belgium, and Dutch Belgium marketplaces.\n\nFollow the instructions below to retrieve metadata for these three marketplaces:\n- French Belgium: Set the marketplace_id path parameter value to EBAY_BE, and include the Accept-Language header with a value of fr-BE.\n- Dutch Belgium: Set the marketplace_id path parameter value to EBAY_BE, and include the Accept-Language header with a value of nl-BE.\n- French Canada: Set the marketplace_id path parameter value to EBAY_CA, and include the Accept-Language header with a value of fr-CA.\nNote: If EBAY_CA is set as the marketplace_id path parameter and the Accept-Language header is not used, the marketplace will default to the English Canada marketplace.",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ballerina-name": "acceptLanguage"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The retrieved category policies",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CategoryPolicyResponse"
                                }
                            }
                        },
                        "x-response-codes": {
                            "errors": {
                                "46002": {
                                    "domain": "API_METADATA",
                                    "category": "REQUEST",
                                    "description": "The filter value is invalid. Sample supported values: filter=categoryIds:{catId1|catId2|catId3}."
                                },
                                "46003": {
                                    "domain": "API_METADATA",
                                    "category": "REQUEST",
                                    "description": "The specified categoryId was not found for the marketplace."
                                },
                                "46004": {
                                    "domain": "API_METADATA",
                                    "category": "REQUEST",
                                    "description": "Only {maxCategoryIdsAllowed} Category IDs are allowed in the 'filter' parameter."
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "No content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Error"
                                    }
                                }
                            }
                        },
                        "x-response-codes": {
                            "errors": {
                                "46001": {
                                    "domain": "API_METADATA",
                                    "category": "REQUEST",
                                    "description": "The specified marketplace ID was not found."
                                },
                                "46002": {
                                    "domain": "API_METADATA",
                                    "category": "REQUEST",
                                    "description": "The filter value is invalid. Sample supported values: filter=categoryIds:{catId1|catId2|catId3}."
                                },
                                "46003": {
                                    "domain": "API_METADATA",
                                    "category": "REQUEST",
                                    "description": "The specified categoryId was not found for the marketplace."
                                },
                                "46004": {
                                    "domain": "API_METADATA",
                                    "category": "REQUEST",
                                    "description": "Only {maxCategoryIdsAllowed} Category IDs are allowed in the 'filter' parameter."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Error"
                                    }
                                }
                            }
                        },
                        "x-response-codes": {
                            "errors": {
                                "46001": {
                                    "domain": "API_METADATA",
                                    "category": "REQUEST",
                                    "description": "The specified marketplace ID was not found."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Error"
                                    }
                                }
                            }
                        },
                        "x-response-codes": {
                            "errors": {
                                "46000": {
                                    "domain": "API_METADATA",
                                    "category": "APPLICATION",
                                    "description": "There was a problem with an eBay internal system or process.Contact eBay developer support for assistance."
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_auth": [
                            "https://api.ebay.com/oauth/api_scope"
                        ],
                        "ClientCredentials": [
                            "https://api.ebay.com/oauth/api_scope"
                        ]
                    }
                ]
            }
        },
        "/marketplace/{marketplaceId}/get_classified_ad_policies": {
            "get": {
                "tags": [
                    "marketplace"
                ],
                "summary": "Get classified ad policies",
                "description": "This method returns eBay classified ad policy metadata for all leaf categories on the specified marketplace.\nBy default, this method returns metadata on all leaf categories. You can limit the size of the result set by using the filter query parameter to specify only the leaf category IDs you want to review.\n\nIf you specify a valid marketplace ID but that marketplace does not contain policy information, or if you filter out all results, a successful call returns a 204 No content status code with an empty response body.\n\nNote: This method does not support classified ads for eBay US Motors categories (EBAY_MOTORS_US). For eBay Motors Pro users, use getMotorsListingPolicies.",
                "operationId": "getClassifiedAdPolicies",
                "parameters": [
                    {
                        "name": "marketplaceId",
                        "in": "path",
                        "description": "This path parameter specifies the eBay marketplace for which policy information is retrieved.\n\nSee Marketplace ID values for a list of supported eBay marketplace ID values",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "filter",
                        "in": "query",
                        "description": "This query parameter limits the response by only returning metadata for the specified leaf categories. Supply the categoryId for one or more leaf categories. You can verify if a category is a leaf category by using the Taxonomy API and looking for a \"leafCategory\": true tag.\n\nThe parameter takes a list of categoryId values and you can specify up to 50 separate category IDs. Separate multiple values with a pipe character ('|'). If you specify more than 50 categoryId values, eBay returns the policies for the first 50 IDs and a warning that not all categories were returned.\n\nExample:filter=categoryIds:{3767|171784}",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "This header is required to retrieve metadata for the French Canada, French Belgium, and Dutch Belgium marketplaces.\n\nFollow the instructions below to retrieve metadata for these three marketplaces:\n- French Belgium: Set the marketplace_id path parameter value to EBAY_BE, and include the Accept-Language header with a value of fr-BE.\n- Dutch Belgium: Set the marketplace_id path parameter value to EBAY_BE, and include the Accept-Language header with a value of nl-BE.\n- French Canada: Set the marketplace_id path parameter value to EBAY_CA, and include the Accept-Language header with a value of fr-CA.\nNote: If EBAY_CA is set as the marketplace_id path parameter and the Accept-Language header is not used, the marketplace will default to the English Canada marketplace.",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ballerina-name": "acceptLanguage"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The retrieved classified ad policies",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClassifiedAdPolicyResponse"
                                }
                            }
                        },
                        "x-response-codes": {
                            "errors": {
                                "46002": {
                                    "domain": "API_METADATA",
                                    "category": "REQUEST",
                                    "description": "The filter value is invalid. Sample supported values: filter=categoryIds:{catId1|catId2|catId3}."
                                },
                                "46003": {
                                    "domain": "API_METADATA",
                                    "category": "REQUEST",
                                    "description": "The specified categoryId was not found for the marketplace."
                                },
                                "46004": {
                                    "domain": "API_METADATA",
                                    "category": "REQUEST",
                                    "description": "Only {maxCategoryIdsAllowed} Category IDs are allowed in the 'filter' parameter."
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "No content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Error"
                                    }
                                }
                            }
                        },
                        "x-response-codes": {
                            "errors": {
                                "46001": {
                                    "domain": "API_METADATA",
                                    "category": "REQUEST",
                                    "description": "The specified marketplace ID was not found."
                                },
                                "46002": {
                                    "domain": "API_METADATA",
                                    "category": "REQUEST",
                                    "description": "The filter value is invalid. Sample supported values: filter=categoryIds:{catId1|catId2|catId3}."
                                },
                                "46003": {
                                    "domain": "API_METADATA",
                                    "category": "REQUEST",
                                    "description": "The specified categoryId was not found for the marketplace."
                                },
                                "46004": {
                                    "domain": "API_METADATA",
                                    "category": "REQUEST",
                                    "description": "Only {maxCategoryIdsAllowed} Category IDs are allowed in the 'filter' parameter."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Error"
                                    }
                                }
                            }
                        },
                        "x-response-codes": {
                            "errors": {
                                "46001": {
                                    "domain": "API_METADATA",
                                    "category": "REQUEST",
                                    "description": "The specified marketplace ID was not found."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Error"
                                    }
                                }
                            }
                        },
                        "x-response-codes": {
                            "errors": {
                                "46000": {
                                    "domain": "API_METADATA",
                                    "category": "APPLICATION",
                                    "description": "There was a problem with an eBay internal system or process.Contact eBay developer support for assistance."
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_auth": [
                            "https://api.ebay.com/oauth/api_scope"
                        ],
                        "ClientCredentials": [
                            "https://api.ebay.com/oauth/api_scope"
                        ]
                    }
                ]
            }
        },
        "/marketplace/{marketplaceId}/get_currencies": {
            "get": {
                "tags": [
                    "marketplace"
                ],
                "summary": "Get marketplace currencies",
                "description": "This method returns the default currency used by the eBay marketplace specified in the request. This is the currency that the seller should use when providing price data for this marketplace through listing APIs.",
                "operationId": "getCurrencies",
                "parameters": [
                    {
                        "name": "marketplaceId",
                        "in": "path",
                        "description": "This path parameter specifies the eBay marketplace for which currency information is retrieved.\n\nSee the Marketplace ID values type for a list of supported eBay marketplace ID values",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "This header is required to retrieve metadata for the French Canada and French Belgium marketplaces.\n\nFollow the instructions below to retrieve metadata for these marketplaces:\n- French Belgium: Set the marketplace_id path parameter value to EBAY_BE, and include the Accept-Language header with a value of fr-BE.\n\nNote: If EBAY_BE is set as the marketplace_id path parameter and the Accept-Language header is not used, the marketplace will default to the Dutch Belgium marketplace.\n- French Canada: Set the marketplace_id path parameter value to EBAY_CA and include the Accept-Language header with a value of fr-CA.Note: If EBAY_CA is set as the marketplace_id path parameter and the Accept-Language header is not used, the marketplace will default to the English Canada marketplace.",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ballerina-name": "acceptLanguage"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The retrieved currencies",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetCurrenciesResponse"
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Error"
                                    }
                                }
                            }
                        },
                        "x-response-codes": {
                            "errors": {
                                "46001": {
                                    "domain": "API_METADATA",
                                    "category": "REQUEST",
                                    "description": "The specified marketplace ID was not found."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Error"
                                    }
                                }
                            }
                        },
                        "x-response-codes": {
                            "errors": {
                                "46001": {
                                    "domain": "API_METADATA",
                                    "category": "REQUEST",
                                    "description": "The specified marketplace ID was not found."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Error"
                                    }
                                }
                            }
                        },
                        "x-response-codes": {
                            "errors": {
                                "46000": {
                                    "domain": "API_METADATA",
                                    "category": "APPLICATION",
                                    "description": "There was a problem with an eBay internal system or process.Contact eBay developer support for assistance."
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_auth": [
                            "https://api.ebay.com/oauth/api_scope"
                        ],
                        "ClientCredentials": [
                            "https://api.ebay.com/oauth/api_scope"
                        ]
                    }
                ]
            }
        },
        "/marketplace/{marketplaceId}/get_extended_producer_responsibility_policies": {
            "get": {
                "tags": [
                    "marketplace"
                ],
                "summary": "Get extended producer responsibility policies",
                "description": "This method returns the Extended Producer Responsibility policies for one, multiple, or all eBay categories in an eBay marketplace.\n\nThe identifier of the eBay marketplace is passed in as a path parameter, and unless one or more eBay category IDs are passed in through the filter query parameter, this method will return metadata on every applicable category for the specified marketplace.\n\nNote: Currently, the Extended Producer Responsibility policies are only applicable to a limited number of categories.\nNote: Extended Producer Responsibility IDs are no longer set at the listing level so category-level metadata is no longer returned. Instead, sellers will provide/manage these IDs at the account level by going to Account Settings.\nTip: This method can potentially return a very large response payload. eBay recommends that the response payload be compressed by passing in the Accept-Encoding request header and setting the value to gzip.",
                "operationId": "getExtendedProducerResponsibilityPolicies",
                "parameters": [
                    {
                        "name": "marketplaceId",
                        "in": "path",
                        "description": "This path parameter specifies the eBay marketplace for which policy information shall be retrieved.\n\nSee Request Headers for a list of supported eBay marketplace ID values",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "filter",
                        "in": "query",
                        "description": "A query parameter that can be used to limit the response by returning policy information for only the selected sections of the category tree. Supply categoryId values for the sections of the tree that should be returned.\n\nWhen a categoryId value is specified, the returned category tree includes the policies for that parent node, as well as the policies for any child nodes below that parent node.\n\nPass in the categoryId values using a URL-encoded, pipe-separated ('|') list. For example:\n\nfilter=categoryIds%3A%7B100%7C101%7C102%7D\n\nMaximum: 50",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Accept-Encoding",
                        "in": "header",
                        "description": "This header indicates the compression-encoding algorithms the client accepts for the response. This value should be set to gzip.\n\nFor more information, refer to Request Headers",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ballerina-name": "acceptEncoding"
                    },
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "This header is required to retrieve metadata for the French Canada, French Belgium, and Dutch Belgium marketplaces.\n\nFollow the instructions below to retrieve metadata for these three marketplaces:\n- French Belgium: Set the marketplace_id path parameter value to EBAY_BE, and include the Accept-Language header with a value of fr-BE.\n- Dutch Belgium: Set the marketplace_id path parameter value to EBAY_BE, and include the Accept-Language header with a value of nl-BE.\n- French Canada: Set the marketplace_id path parameter value to EBAY_CA, and include the Accept-Language header with a value of fr-CA.\nNote: If EBAY_CA is set as the marketplace_id path parameter and the Accept-Language header is not used, the marketplace will default to the English Canada marketplace.",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ballerina-name": "acceptLanguage"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The retrieved extended producer responsibility policies",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExtendedProducerResponsibilityPolicyResponse"
                                }
                            }
                        },
                        "x-response-codes": {
                            "errors": {
                                "46002": {
                                    "domain": "API_METADATA",
                                    "category": "REQUEST",
                                    "description": "The filter value is invalid. Sample supported values: filter=categoryIds:{catId1|catId2|catId3}."
                                },
                                "46003": {
                                    "domain": "API_METADATA",
                                    "category": "REQUEST",
                                    "description": "The specified categoryId was not found for the marketplace."
                                },
                                "46004": {
                                    "domain": "API_METADATA",
                                    "category": "REQUEST",
                                    "description": "Only 50 Category IDs specified in the filter are considered."
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "No content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Error"
                                    }
                                }
                            }
                        },
                        "x-response-codes": {
                            "errors": {
                                "46001": {
                                    "domain": "API_METADATA",
                                    "category": "REQUEST",
                                    "description": "The specified marketplace ID was not found."
                                },
                                "46002": {
                                    "domain": "API_METADATA",
                                    "category": "REQUEST",
                                    "description": "The filter value is invalid. Sample supported values: filter=categoryIds:{catId1|catId2|catId3}."
                                },
                                "46003": {
                                    "domain": "API_METADATA",
                                    "category": "REQUEST",
                                    "description": "The specified categoryId was not found for the marketplace."
                                },
                                "46004": {
                                    "domain": "API_METADATA",
                                    "category": "REQUEST",
                                    "description": "Only {maxCategoryIdsAllowed} Category IDs are allowed in the 'filter' parameter."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Error"
                                    }
                                }
                            }
                        },
                        "x-response-codes": {
                            "errors": {
                                "46001": {
                                    "domain": "API_METADATA",
                                    "category": "REQUEST",
                                    "description": "The specified marketplace ID was not found."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Error"
                                    }
                                }
                            }
                        },
                        "x-response-codes": {
                            "errors": {
                                "46000": {
                                    "domain": "API_METADATA",
                                    "category": "APPLICATION",
                                    "description": "There was a problem with an eBay internal system or process.Contact eBay developer support for assistance."
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_auth": [
                            "https://api.ebay.com/oauth/api_scope"
                        ],
                        "ClientCredentials": [
                            "https://api.ebay.com/oauth/api_scope"
                        ]
                    }
                ]
            }
        },
        "/marketplace/{marketplaceId}/get_hazardous_materials_labels": {
            "get": {
                "tags": [
                    "marketplace"
                ],
                "summary": "Get hazardous materials labels",
                "description": "This method returns hazardous materials label information for the specified eBay marketplace. The information includes IDs, descriptions, and URLs (as applicable) for the available signal words, statements, and pictograms. The returned statements are localized for the default language of the marketplace. If a marketplace does not support hazardous materials label information, no response payload is returned, but only a 204 No content status code.\nThis information is used by the seller to add hazardous materials label related information to their listings (see Specifying hazardous material related information).",
                "operationId": "getHazardousMaterialsLabels",
                "parameters": [
                    {
                        "name": "marketplaceId",
                        "in": "path",
                        "description": "This path parameter specifies the eBay marketplace for which hazardous materials label information shall be retrieved.\n\nSee Request Headers for a list of supported eBay marketplace ID values",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "This header is required to retrieve metadata for the French Canada, French Belgium, and Dutch Belgium marketplaces.\n\nFollow the instructions below to retrieve metadata for these three marketplaces:\n- French Belgium: Set the marketplace_id path parameter value to EBAY_BE, and include the Accept-Language header with a value of fr-BE.\n- Dutch Belgium: Set the marketplace_id path parameter value to EBAY_BE, and include the Accept-Language header with a value of nl-BE.\n- French Canada: Set the marketplace_id path parameter value to EBAY_CA, and include the Accept-Language header with a value of fr-CA.\nNote: If EBAY_CA is set as the marketplace_id path parameter and the Accept-Language header is not used, the marketplace will default to the English Canada marketplace.",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ballerina-name": "acceptLanguage"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The retrieved hazardous materials labels",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HazardousMaterialDetailsResponse"
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "No content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Error"
                                    }
                                }
                            }
                        },
                        "x-response-codes": {
                            "errors": {
                                "46001": {
                                    "domain": "API_METADATA",
                                    "category": "REQUEST",
                                    "description": "The specified marketplace ID was not found."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Error"
                                    }
                                }
                            }
                        },
                        "x-response-codes": {
                            "errors": {
                                "46001": {
                                    "domain": "API_METADATA",
                                    "category": "REQUEST",
                                    "description": "The specified marketplace ID was not found."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Error"
                                    }
                                }
                            }
                        },
                        "x-response-codes": {
                            "errors": {
                                "46000": {
                                    "domain": "API_METADATA",
                                    "category": "APPLICATION",
                                    "description": "There was a problem with an eBay internal system or process.Contact eBay developer support for assistance."
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_auth": [
                            "https://api.ebay.com/oauth/api_scope"
                        ],
                        "ClientCredentials": [
                            "https://api.ebay.com/oauth/api_scope"
                        ]
                    }
                ]
            }
        },
        "/marketplace/{marketplaceId}/get_item_condition_policies": {
            "get": {
                "tags": [
                    "marketplace"
                ],
                "summary": "Get item condition policies",
                "description": "This method returns item condition metadata on one, multiple, or all eBay categories on an eBay marketplace. This metadata consists of the different item conditions (with IDs) that an eBay category supports, and a boolean to indicate if an eBay category requires an item condition.\n\nIf applicable, this metadata also shows the different condition descriptors (with IDs) that an eBay category supports.\n\nNote: Currently, condition grading is only applicable to the following trading card leaf categories:\n- Non-Sport Trading Card Singles\n- CCG Individual Cards\n- Sports Trading Cards Singles\nand the following coin categories:\n- Coins: US\n- Coins: World\n- Coins: Canada\n- Coins: Ancient\n- Coins: Medieval\nNote that these coin categories are not leaf categories, so condition grading is available for all leaf categories descending from the above categories (except for rolls, sets, and lots).\n\nAdditionally, condition grading is available for Salvage items in select categories for eligible users. Use the getItemConditionPolicies method to see supported categories.\nThe identifier of the eBay marketplace is passed in as a path parameter, and unless one or more eBay category IDs are passed in through the filter query parameter, this method will return metadata on every single category for the specified marketplace. If you only want to view item condition metadata for one eBay category or a select group of eBay categories, you can pass in up to 50 eBay category ID through the filter query parameter.\n\nImportant: Certified - Refurbished-eligible sellers, and sellers who are eligible to list with the new values (EXCELLENT_REFURBISHED, VERY_GOOD_REFURBISHED, and GOOD_REFURBISHED) must use an OAuth token created with the authorization code grant flow and https://api.ebay.com/oauth/api_scope/sell.inventory scope in order to retrieve the refurbished conditions for the relevant categories.\n\nRefurbished item conditions are only supported in the Australia, Canada, French Canada, Germany, France, Italy, UK, and US marketplaces. See the eBay Refurbished Program page in help center for the categories that support refurbished conditions.\n\nThese restricted item conditions will not be returned if an OAuth token created with the client credentials grant flow and https://api.ebay.com/oauth/api_scope scope is used, or if any seller is not eligible to list with that item condition.\n\nSee the Specifying OAuth scopes topic for more information about specifying scopes.\nTip: This method can potentially return a very large response payload. eBay recommends that the response payload be compressed by passing in the Accept-Encoding request header and setting the value to gzip.",
                "operationId": "getItemConditionPolicies",
                "parameters": [
                    {
                        "name": "marketplaceId",
                        "in": "path",
                        "description": "This path parameter specifies the eBay marketplace for which policy information is retrieved.\n\nSee Request Headers for a list of supported eBay marketplace ID values",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "filter",
                        "in": "query",
                        "description": "This query parameter limits the response by returning policy information for only the selected sections of the category tree. Supply categoryId values for the sections of the tree you want returned.\n\nWhen you specify a categoryId value, the returned category tree includes the policies for that parent node, plus the policies for any leaf nodes below that parent node.\n\nThe parameter takes a list of categoryId values and you can specify up to 50 separate category IDs. Separate multiple values with a pipe character ('|'). If you specify more than 50 categoryId values, eBay returns the policies for the first 50 IDs and a warning that not all categories were returned.\n\nExample: filter=categoryIds:{100|101|102}\n\nNote that you must URL-encode the parameter list, which results in the following filter for the above example:\n\nfilter=categoryIds%3A%7B100%7C101%7C102%7D",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Accept-Encoding",
                        "in": "header",
                        "description": "This header indicates the compression-encoding algorithms the client accepts for the response. This value should be set to gzip.\n\nFor more information, refer to Request Headers",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ballerina-name": "acceptEncoding"
                    },
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "This header is required to retrieve metadata for the French Canada, French Belgium, and Dutch Belgium marketplaces.\n\nFollow the instructions below to retrieve metadata for these three marketplaces:\n- French Belgium: Set the marketplace_id path parameter value to EBAY_BE, and include the Accept-Language header with a value of fr-BE.\n- Dutch Belgium: Set the marketplace_id path parameter value to EBAY_BE, and include the Accept-Language header with a value of nl-BE.\n- French Canada: Set the marketplace_id path parameter value to EBAY_CA, and include the Accept-Language header with a value of fr-CA.\nNote: If EBAY_CA is set as the marketplace_id path parameter and the Accept-Language header is not used, the marketplace will default to the English Canada marketplace.",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ballerina-name": "acceptLanguage"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The retrieved item condition policies",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ItemConditionPolicyResponse"
                                }
                            }
                        },
                        "x-response-codes": {
                            "errors": {
                                "46002": {
                                    "domain": "API_METADATA",
                                    "category": "REQUEST",
                                    "description": "The filter value is invalid. Sample supported values: filter=categoryIds:{catId1|catId2|catId3}."
                                },
                                "46003": {
                                    "domain": "API_METADATA",
                                    "category": "REQUEST",
                                    "description": "The specified categoryId was not found for the marketplace."
                                },
                                "46004": {
                                    "domain": "API_METADATA",
                                    "category": "REQUEST",
                                    "description": "Only 50 Category IDs specified in the filter are considered."
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "No content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Error"
                                    }
                                }
                            }
                        },
                        "x-response-codes": {
                            "errors": {
                                "46001": {
                                    "domain": "API_METADATA",
                                    "category": "REQUEST",
                                    "description": "The specified marketplace ID was not found."
                                },
                                "46002": {
                                    "domain": "API_METADATA",
                                    "category": "REQUEST",
                                    "description": "The filter value is invalid. Sample supported values: filter=categoryIds:{catId1|catId2|catId3}."
                                },
                                "46003": {
                                    "domain": "API_METADATA",
                                    "category": "REQUEST",
                                    "description": "The specified categoryId was not found for the marketplace."
                                },
                                "46004": {
                                    "domain": "API_METADATA",
                                    "category": "REQUEST",
                                    "description": "Only {maxCategoryIdsAllowed} Category IDs are allowed in the 'filter' parameter."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Error"
                                    }
                                }
                            }
                        },
                        "x-response-codes": {
                            "errors": {
                                "46001": {
                                    "domain": "API_METADATA",
                                    "category": "REQUEST",
                                    "description": "The specified marketplace ID was not found."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Error"
                                    }
                                }
                            }
                        },
                        "x-response-codes": {
                            "errors": {
                                "46000": {
                                    "domain": "API_METADATA",
                                    "category": "APPLICATION",
                                    "description": "There was a problem with an eBay internal system or process.Contact eBay developer support for assistance."
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_auth": [
                            "https://api.ebay.com/oauth/api_scope",
                            "https://api.ebay.com/oauth/api_scope/sell.inventory"
                        ],
                        "ClientCredentials": [
                            "https://api.ebay.com/oauth/api_scope/sell.inventory"
                        ]
                    },
                    {
                        "ClientCredentials": [
                            "https://api.ebay.com/oauth/api_scope"
                        ]
                    }
                ]
            }
        },
        "/marketplace/{marketplaceId}/get_listing_structure_policies": {
            "get": {
                "tags": [
                    "marketplace"
                ],
                "summary": "Get listing structure policies",
                "description": "This method returns the eBay policies that define the allowed listing structures for the categories of a specific marketplace. The listing-structure policies currently pertain to whether or not you can list items with variations.\n\nBy default, this method returns the entire category tree for the specified marketplace. You can limit the size of the result set by using the filter query parameter to specify only the category IDs you want to review.\n\nTip: This method can potentially return a very large response payload. eBay recommends that the response payload be compressed by passing in the Accept-Encoding request header and setting the value to gzip.",
                "operationId": "getListingStructurePolicies",
                "parameters": [
                    {
                        "name": "marketplaceId",
                        "in": "path",
                        "description": "This path parameter specifies the eBay marketplace for which policy information is retrieved.\n\nSee Request Headers for a list of supported eBay marketplace ID values",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "filter",
                        "in": "query",
                        "description": "This query parameter limits the response by returning policy information for only the selected sections of the category tree. Supply categoryId values for the sections of the tree you want returned.\n\nWhen you specify a categoryId value, the returned category tree includes the policies for that parent node, plus the policies for any leaf nodes below that parent node.\n\nThe parameter takes a list of categoryId values and you can specify up to 50 separate category IDs. Separate multiple values with a pipe character ('|'). If you specify more than 50 categoryId values, eBay returns the policies for the first 50 IDs and a warning that not all categories were returned.\n\nExample: filter=categoryIds:{100|101|102}\n\nNote that you must URL-encode the parameter list, which results in the following filter for the above example:\n\nfilter=categoryIds%3A%7B100%7C101%7C102%7D",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Accept-Encoding",
                        "in": "header",
                        "description": "This header indicates the compression-encoding algorithms the client accepts for the response. This value should be set to gzip.\n\nFor more information, refer to Request Headers",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ballerina-name": "acceptEncoding"
                    },
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "This header is required to retrieve metadata for the French Canada, French Belgium, and Dutch Belgium marketplaces.\n\nFollow the instructions below to retrieve metadata for these three marketplaces:\n- French Belgium: Set the marketplace_id path parameter value to EBAY_BE, and include the Accept-Language header with a value of fr-BE.\n- Dutch Belgium: Set the marketplace_id path parameter value to EBAY_BE, and include the Accept-Language header with a value of nl-BE.\n- French Canada: Set the marketplace_id path parameter value to EBAY_CA, and include the Accept-Language header with a value of fr-CA.\nNote: If EBAY_CA is set as the marketplace_id path parameter and the Accept-Language header is not used, the marketplace will default to the English Canada marketplace.",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ballerina-name": "acceptLanguage"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The retrieved listing structure policies",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListingStructurePolicyResponse"
                                }
                            }
                        },
                        "x-response-codes": {
                            "errors": {
                                "46002": {
                                    "domain": "API_METADATA",
                                    "category": "REQUEST",
                                    "description": "The filter value is invalid. Sample supported values: filter=categoryIds:{catId1|catId2|catId3}."
                                },
                                "46003": {
                                    "domain": "API_METADATA",
                                    "category": "REQUEST",
                                    "description": "The specified categoryId was not found for the marketplace."
                                },
                                "46004": {
                                    "domain": "API_METADATA",
                                    "category": "REQUEST",
                                    "description": "Only 50 Category IDs specified in the filter are considered."
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "No content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Error"
                                    }
                                }
                            }
                        },
                        "x-response-codes": {
                            "errors": {
                                "46001": {
                                    "domain": "API_METADATA",
                                    "category": "REQUEST",
                                    "description": "The specified marketplace ID was not found."
                                },
                                "46002": {
                                    "domain": "API_METADATA",
                                    "category": "REQUEST",
                                    "description": "The filter value is invalid. Sample supported values: filter=categoryIds:{catId1|catId2|catId3}."
                                },
                                "46003": {
                                    "domain": "API_METADATA",
                                    "category": "REQUEST",
                                    "description": "The specified categoryId was not found for the marketplace."
                                },
                                "46004": {
                                    "domain": "API_METADATA",
                                    "category": "REQUEST",
                                    "description": "Only {maxCategoryIdsAllowed} Category IDs are allowed in the 'filter' parameter."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Error"
                                    }
                                }
                            }
                        },
                        "x-response-codes": {
                            "errors": {
                                "46001": {
                                    "domain": "API_METADATA",
                                    "category": "REQUEST",
                                    "description": "The specified marketplace ID was not found."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Error"
                                    }
                                }
                            }
                        },
                        "x-response-codes": {
                            "errors": {
                                "46000": {
                                    "domain": "API_METADATA",
                                    "category": "APPLICATION",
                                    "description": "There was a problem with an eBay internal system or process.Contact eBay developer support for assistance."
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_auth": [
                            "https://api.ebay.com/oauth/api_scope"
                        ],
                        "ClientCredentials": [
                            "https://api.ebay.com/oauth/api_scope"
                        ]
                    }
                ]
            }
        },
        "/marketplace/{marketplaceId}/get_listing_type_policies": {
            "get": {
                "tags": [
                    "marketplace"
                ],
                "summary": "Get listing type policies",
                "description": "This method returns eBay listing type policy metadata for all leaf categories on the specified marketplace.\nBy default, this method returns metadata on all leaf categories. You can limit the size of the result set by using the filter query parameter to specify only the leaf category IDs you want to review.\n\nIf you specify a valid marketplace ID but that marketplace does not contain policy information, or if you filter out all results, a successful call returns a 204 No content status code with an empty response body.",
                "operationId": "getListingTypePolicies",
                "parameters": [
                    {
                        "name": "marketplaceId",
                        "in": "path",
                        "description": "This path parameter specifies the eBay marketplace for which policy information is retrieved.\n\nSee Request Headers for a list of supported eBay marketplace ID values",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "filter",
                        "in": "query",
                        "description": "This query parameter limits the response by only returning metadata for the specified leaf categories. Supply the categoryId for one or more leaf categories. You can verify if a category is a leaf category by using the Taxonomy API and looking for a \"leafCategory\": true tag.\n\nThe parameter takes a list of categoryId values and you can specify up to 50 separate category IDs. Separate multiple values with a pipe character ('|'). If you specify more than 50 categoryId values, eBay returns the policies for the first 50 IDs and a warning that not all categories were returned.\n\nExample: filter=categoryIds:{3767|171784}",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "This header is required to retrieve metadata for the French Canada, French Belgium, and Dutch Belgium marketplaces.\n\nFollow the instructions below to retrieve metadata for these three marketplaces:\n- French Belgium: Set the marketplace_id path parameter value to EBAY_BE, and include the Accept-Language header with a value of fr-BE.\n- Dutch Belgium: Set the marketplace_id path parameter value to EBAY_BE, and include the Accept-Language header with a value of nl-BE.\n- French Canada: Set the marketplace_id path parameter value to EBAY_CA, and include the Accept-Language header with a value of fr-CA.\nNote: If EBAY_CA is set as the marketplace_id path parameter and the Accept-Language header is not used, the marketplace will default to the English Canada marketplace.",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ballerina-name": "acceptLanguage"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The retrieved listing type policies",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListingTypePoliciesResponse"
                                }
                            }
                        },
                        "x-response-codes": {
                            "errors": {
                                "46002": {
                                    "domain": "API_METADATA",
                                    "category": "REQUEST",
                                    "description": "The filter value is invalid. Sample supported values: filter=categoryIds:{catId1|catId2|catId3}."
                                },
                                "46003": {
                                    "domain": "API_METADATA",
                                    "category": "REQUEST",
                                    "description": "The specified categoryId was not found for the marketplace."
                                },
                                "46004": {
                                    "domain": "API_METADATA",
                                    "category": "REQUEST",
                                    "description": "Only {maxCategoryIdsAllowed} Category IDs are allowed in the 'filter' parameter."
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "No content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Error"
                                    }
                                }
                            }
                        },
                        "x-response-codes": {
                            "errors": {
                                "46001": {
                                    "domain": "API_METADATA",
                                    "category": "REQUEST",
                                    "description": "The specified marketplace ID was not found."
                                },
                                "46002": {
                                    "domain": "API_METADATA",
                                    "category": "REQUEST",
                                    "description": "The filter value is invalid. Sample supported values: filter=categoryIds:{catId1|catId2|catId3}."
                                },
                                "46003": {
                                    "domain": "API_METADATA",
                                    "category": "REQUEST",
                                    "description": "The specified categoryId was not found for the marketplace."
                                },
                                "46004": {
                                    "domain": "API_METADATA",
                                    "category": "REQUEST",
                                    "description": "Only {maxCategoryIdsAllowed} Category IDs are allowed in the 'filter' parameter."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Error"
                                    }
                                }
                            }
                        },
                        "x-response-codes": {
                            "errors": {
                                "46001": {
                                    "domain": "API_METADATA",
                                    "category": "REQUEST",
                                    "description": "The specified marketplace ID was not found."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Error"
                                    }
                                }
                            }
                        },
                        "x-response-codes": {
                            "errors": {
                                "46000": {
                                    "domain": "API_METADATA",
                                    "category": "APPLICATION",
                                    "description": "There was a problem with an eBay internal system or process.Contact eBay developer support for assistance."
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_auth": [
                            "https://api.ebay.com/oauth/api_scope"
                        ],
                        "ClientCredentials": [
                            "https://api.ebay.com/oauth/api_scope"
                        ]
                    }
                ]
            }
        },
        "/marketplace/{marketplaceId}/get_minimum_listing_price_policies": {
            "get": {
                "tags": [
                    "marketplace"
                ],
                "summary": "Get minimum listing price policies",
                "description": "This method returns minimum listing price policies for supported types of listings on a specific marketplace. This includes the minimum start price for auction listings, the minimum sale price for fixed-price listings, and the minimum percentage value that a Buy It Now or auction listing must be above the minimum start price for the same listing.\n\nNote: The only applicable listing type values for this method are AUCTION and FIXED_PRICE_ITEM.\nThe identifier of the eBay marketplace for which to retrieve supported minimum listing price policies is passed through the marketplace_id path parameter.",
                "operationId": "getMinimumListingPricePolicies",
                "parameters": [
                    {
                        "name": "marketplaceId",
                        "in": "path",
                        "description": "This path parameter specifies the eBay marketplace for which minimum listing price policy information will be retrieved.\n\nSee Marketplace ID values for a list of supported eBay marketplace ID values.",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The retrieved minimum listing price policies",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetMinimumListingPricePoliciesResponse"
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Error"
                                    }
                                }
                            }
                        },
                        "x-response-codes": {
                            "errors": {
                                "46001": {
                                    "domain": "API_METADATA",
                                    "category": "REQUEST",
                                    "description": "The specified marketplace is not supported."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Error"
                                    }
                                }
                            }
                        },
                        "x-response-codes": {
                            "errors": {
                                "46001": {
                                    "domain": "API_METADATA",
                                    "category": "REQUEST",
                                    "description": "The specified marketplace ID was not found."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Error"
                                    }
                                }
                            }
                        },
                        "x-response-codes": {
                            "errors": {
                                "46000": {
                                    "domain": "API_METADATA",
                                    "category": "APPLICATION",
                                    "description": "There was a problem with an eBay internal system or process. Contact eBay developer support for assistance."
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_auth": [
                            "https://api.ebay.com/oauth/api_scope"
                        ],
                        "ClientCredentials": [
                            "https://api.ebay.com/oauth/api_scope"
                        ]
                    }
                ]
            }
        },
        "/marketplace/{marketplaceId}/get_motors_listing_policies": {
            "get": {
                "tags": [
                    "marketplace"
                ],
                "summary": "Get eBay Motors listing policies",
                "description": "This method returns eBay Motors policy metadata for all leaf categories on the specified marketplace.\nBy default, this method returns metadata on all leaf categories. You can limit the size of the result set by using the filter query parameter to specify only the leaf category IDs you want to review.\n\nIf you specify a valid marketplace ID but that marketplace does not contain policy information, or if you filter out all results, a successful call returns a 204 No content status code with an empty response body.\n\nNote: To return policy information for eBay US Motors categories, specify marketplace_id as EBAY_MOTORS_US.",
                "operationId": "getMotorsListingPolicies",
                "parameters": [
                    {
                        "name": "marketplaceId",
                        "in": "path",
                        "description": "This path parameter specifies the eBay marketplace for which policy information is retrieved.\n\nSee Request Headers for a list of supported eBay marketplace ID values",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "filter",
                        "in": "query",
                        "description": "This query parameter limits the response by only returning metadata for the specified leaf categories. Supply the categoryId for one or more leaf categories. You can verify if a category is a leaf category by using the Taxonomy API and looking for a \"leafCategory\": true tag.\n\nThe parameter takes a list of categoryId values and you can specify up to 50 separate category IDs. Separate multiple values with a pipe character ('|'). If you specify more than 50 categoryId values, eBay returns the policies for the first 50 IDs and a warning that not all categories were returned.\n\nExample: filter=categoryIds:{3767|171784}",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "This header is required to retrieve metadata for the French Canada, French Belgium, and Dutch Belgium marketplaces.\n\nFollow the instructions below to retrieve metadata for these three marketplaces:\n- French Belgium: Set the marketplace_id path parameter value to EBAY_BE, and include the Accept-Language header with a value of fr-BE.\n- Dutch Belgium: Set the marketplace_id path parameter value to EBAY_BE, and include the Accept-Language header with a value of nl-BE.\n- French Canada: Set the marketplace_id path parameter value to EBAY_CA, and include the Accept-Language header with a value of fr-CA.\nNote: If EBAY_CA is set as the marketplace_id path parameter and the Accept-Language header is not used, the marketplace will default to the English Canada marketplace.",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ballerina-name": "acceptLanguage"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The retrieved motors listing policies",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MotorsListingPoliciesResponse"
                                }
                            }
                        },
                        "x-response-codes": {
                            "errors": {
                                "46002": {
                                    "domain": "API_METADATA",
                                    "category": "REQUEST",
                                    "description": "The filter value is invalid. Sample supported values: filter=categoryIds:{catId1|catId2|catId3}."
                                },
[...]
